/*-- scss:defaults --*/

// import google font-size
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&display=swap');

// fonts
$bebas: "Bebas Neue", sans-serif;

//colors
$linen : #FBF4EE;
$rose : #C17C74;
$green : #648767;
$moss : #ECE4E6;
$rosewood : #640D14;
$black : #000000;
//$moss : #AABFBA;
//$linen : #FFEDDF;

// define quarto variables
$body-bg: $moss;
$navbar-bg: $linen;
$navbar-fg: $rosewood;
$navbar-hl: $rose;
$nav-tabs-link-inactive: $rosewood;
$nav-tabs-link-active: $black;

/*-- scss:rules --*/
h1, h2, h3, h4 {
  font-family: $bebas;
}

.navbar-brand-logo{
  max-height: 40px;
  width: auto;
}

/*h1, h2 {
  letter-spacing: 5px;
  font-weight: 800;
}

.title {
  color: $rosewood;
}

.center-text {
  text-align: center;
}

.orange-text{
  color: orange;
}*/